@import '../../page-styles/variables.scss';

//Global Style ----------------------------------

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $-bg;
  color: $-primary;
  font-family: $primary-font;
  font-weight: bold;
  font-size: $font-small;
}
a{
  text-decoration: none;
  color: $-blue;
}
.link{
  transition: color 250ms;
}
.link:hover{
  color: $-winter;
}
.h1{
  padding: 10px 0;
  margin-bottom: 20px;
}

.ctrl-btn{
  opacity: .8;
  box-shadow: unset;
}

.root-cont{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header.header{
    height: 100px;
    background-color: $-cold;
  }
  .content-cont{
    padding: 20px 0;
    flex: 1;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer{
    height: 100px;
    background-color: $-cold;
  }
}

//header ----------------------------------------

.header{
  .header-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    
    .logo-cont{
      flex: 1;
      .logo{
        padding-left: 20px;
      }
    }
    .nav{
      flex: .4;
      .nav-link{
        padding: 0 10px;
      }
    }
    .menu-cont{
      .menu-button{
        padding-right: 20px;
        background-color: unset;
        border: unset;
      }
    }

  }
}

//footer ----------------------------------------

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}