.project{
 .h1{
  a{

  }
 } 
 .link-cont{
  margin: -5px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
   a{
    display: block;
    padding: 10px;
    background-color: lightgreen;
    transition: 300ms;
    margin: 4px;
    border-radius: 5px;

    &:hover{
      color: wheat;
      background-color: limegreen;
      box-shadow: 1px 0 30px -10px lightgreen;
    }
   }
 }
}